<div class="not-found basic-page">

  <div class="row">

    <div class="col-12">
      <ul class="breadcrumbs nopadding">
        <li><a routerLink="/">{{LanguagesService.translate('home_page')}}</a></li>
        <li>/</li>
        <li>{{LanguagesService.translate('not_found')}}</li>
      </ul>
    </div>

    <div class="col-12">

      &nbsp;<br>

      <h3>404 - {{LanguagesService.translate('not_found')}}</h3>

      &nbsp;<br>

      <span [innerHTML]="LanguagesService.translate('not_found_content')"></span>

    </div>

  </div>

</div>
