<div class="row text-center footer">
  <p class="px-2">
    This app is Open Source under the license
    <a href="https://tldrlegal.com/license/mozilla-public-license-2.0-(mpl-2)" target="_blank">
      <span class="hidden-xs-down">Mozilla Public License 2.0 (MPL)</span>
      <span class="hidden-sm-up">MPL</span>
    </a>
     and is available on
    <a href="https://github.com/fabionolasco/falsecognates" target="_blank">
      GitHub
    </a>.
    <br>
    Please check the FalseCognates.com <a routerLink="/agreement">Terms and Agreements</a>.
    <br>
    Website developed by <a href="http://www.fabionolasco.com" target="_blank">Fabio Nolasco</a>
  </p>
</div>
