<div class="homepage basic-page">

  <div class="row">

    <div class="col-xs-12" *ngIf="MessagesService.message.length > 0">
      &nbsp;<br>
      <div class="alert alert-danger" role="alert">
        {{ MessagesService.message }}
      </div>
    </div>

    <div class="col-xs-12">
      <br>
      <app-search-bar></app-search-bar>
      <hr class="base-hr">
      <div class="terms">
        <h3>Most Popular</h3>
        <br>
        <app-results source="top"></app-results>
      </div>
    </div>
  </div>

</div>
