<div class="homepage basic-page">

  <div class="row">

    <div class="col-12" *ngIf="MessagesService.message.length > 0">
      &nbsp;<br>
      <div class="alert" [ngClass]="MessagesService.type" role="alert">
        {{ MessagesService.message }}
      </div>
    </div>

    <div class="col-12">
      <br>
      <app-search-bar></app-search-bar>
      <hr class="base-hr">
      <div class="terms">
        <h3>{{ LanguagesService.translate('most_popular') }}</h3>
        <br>
        <app-results source="top"></app-results>
      </div>
    </div>
  </div>

</div>
