# Node Server Protect Files

*.secret.*
/server/*.secret.*
/server/**/*.secret.*
datasource.json
/loopback/**/datasource.json
**/datasource.json
datasources.json
/loopback/**/datasources.json
**/datasources.json

# compiled output
/dist
/tmp

# dependencies
/docs
/node_modules
/loopback/node_modules
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
