<div class="about basic-page">

  <ul class="breadcrumbs nopadding">
    <li><a routerLink="/">{{LanguagesService.translate('home_page')}}</a></li>
    <li>/</li>
    <li>{{LanguagesService.translate('about')}}</li>
  </ul>

  <h3>{{LanguagesService.translate('about')}}</h3>

  <div class="summary">
    <i class="fa fa-quote-left" aria-hidden="true"></i>
    {{LanguagesService.translate('about_def')}}
  </div>

  <img src="assets/images/photo-small.jpg" alt="Fabio, Natie and Abbie">

  <span [innerHTML]="LanguagesService.translate('about_content')"></span>

</div>
