<div class="about basic-page">

  <ul class="breadcrumbs nopadding">
    <li><a routerLink="/">Homepage</a></li>
    <li>/</li>
    <li>About</li>
  </ul>

  <h3>About</h3>

  <div class="summary">
    <i class="fa fa-quote-left" aria-hidden="true"></i>
    FalseCognates.com is a website where people can read and share examples false cognates, which are pair of words (among different languages or whithin the same language) that sounds similar but have different meanings and/or roots.
  </div>

  <img src="assets/images/photo-small.jpg" alt="Fabio, Natie and Abbie">

  <h4>This is actually a funny story!</h4>

  <p>
    In 2011, right after arriving in the USA, I met the love of my life, Natie! She is Colombian by birth, but moved to America in very early age. Living in a hispanic community in NY gave have a very interesting cultural and language mix! On the other hand, I am a Brazilian guy with very little international experience, and my idea of reality at that point was greatly focused on the normal daily life in Brazil.
  </p>
  <p>
    We quickly started to hang out together, a lot! As you can imagine, it was not long after that that we started to notice several cultural and languange barriers. One day I showed her something that I did and that I thought was very nice, but she turned to me and said: "Ridiculous!" But then... I was a little lost! She seemed happy, but for me that sounded so rude! In Brazil saying that something or someone is "ridículo" is a bad thing. But the saving grace was that the first Bible passage that God put in my heart when I met her was:
  </p>
  <p class="bible">
    "[Love]... thinketh no evil." 1 Corinthians 13:5b KJV
  </p>
  <p>
    That word, "thinketh", in the original greek (λογίζομαι) literally means: I reckon, count, charge with; reason, decide, conclude; think, suppose.
  </p>
  <p>
    That passage has been a spring of peace and joy in our lives since day one! Everytime that we hear the other saying something that sounds weird, rude, or just out of place, we try not to impute bad intention to it, we try not to suspect evil intention. We try to assume that it could be a cultural or a translation problem, afterall, by logic, since we loved each other, it was more likely that we meant well, even if we chose the wrong words by mistake or if it was something lost in translation.
  </p>
  <p>
    That became our game! We decided to make a list and laugh about our cultural and language differences, many times thinking on funny situations that could come out of it. Now, after many years of marriage, we noticed that many people misscommunicate because they don't understand those false cognates and culturual differences.
  </p>
  <p>
    We hope that this website, along with the goal of being an online reference about False Cognates, and even a place for entertainement, will help people all over the world to communicate better, reduce miss understandings and encourage a loving attitude towards people that are different from us!
  </p>

</div>
