<div class="history basic-page">

  <ul class="breadcrumbs nopadding">
    <li><a routerLink="/">{{LanguagesService.translate('home_page')}}</a></li>
    <li>/</li>
    <li>{{LanguagesService.translate('search_history')}}</li>
  </ul>

  <h3>{{LanguagesService.translate('search_history')}}</h3>

  <p>
    {{LanguagesService.translate('list_of_search')}}.
  </p>

  <hr class="base-hr">

  <h6>{{LanguagesService.translate('search_by_langs')}}:</h6>

  <ol>
    <li *ngFor="let lang of sLangs.languages">
      <a routerLink="/search-languages/{{lang.lang1}}/{{lang.lang2}}">
       {{lang.lang1}} &amp; {{lang.lang2}}
      </a>
    </li>
  </ol>

  <hr class="base-hr">

  <h6>{{LanguagesService.translate('search_by_term')}}:</h6>

  <ol>
    <li *ngFor="let term of sTerms.terms">
      <a routerLink="/search-term/{{term}}">{{term}}</a>
    </li>
  </ol>

</div>
