<div class="agreement basic-page">
  <ul class="breadcrumbs nopadding">
    <li><a routerLink="/">Homepage</a></li>
    <li>/</li>
    <li>Terms and Agreements</li>
  </ul>
  <h3>Terms and Agreements</h3>
  <p>
    By using this website you agree with the following:
  </p>
  <ol>
    <li>
      The creators of this website are not responsible for any damage, loss of property, or issues as a consequence of the usage of it's content.
    </li>
    <li>
      Any reference to the content of this website should contain a reference to it's name and URL.
    </li>
    <li>
      Any document or author that desire to include 20 (twenty) or more references to this website's false cognates would need to first obtain a written approval from the website's creators.
    </li>
    <li>
      By submiting contributions to this website, including suggestions of false cognates, you are giving the full rights of that content to the website's creators. These privilleges include the possibility of usage of the content, including for commercial usage, without notififying or obtaining permission of the authors, nor needing to make any reference to the authors. The creators of the website has also the rights to sell, modify, delete and publish any content submited in here without notifying or obtaining permission of any other person or organization.
    </li>
    <li>
      The security system on this website is not extremely sophisticated. Therefore, please use a unique password that is not used in any other place, that way, if the website is ever hacked or it's data leaked, you will have no issues.
    </li>
    <li>
      The creators of this website do not accept any responsibility for issues or losses originated by the information that you shared or read in it.
    </li>
    <li>
      The term "creators" used in this Agreement refers to the programmer (Fabio Nolasco) and the designer (Natie Nolasco).
    </li>
  </ol>
  <p>
    Last modified on: Abril 3th, 2017
  </p>
</div>
