<div class="contact basic-page">

  <ul class="breadcrumbs nopadding">
    <li><a routerLink="/">{{LanguagesService.translate('home_page')}}</a></li>
    <li>/</li>
    <li>{{LanguagesService.translate('contact')}}</li>
  </ul>

  <h3>{{LanguagesService.translate('contact_form')}}</h3>

  <div class="alert alert-success" role="alert" *ngIf="successMessage">
    {{successMessage}}
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    {{errorMessage}}
  </div>

  <form #contactForm novalidate>
    <div class="form-group">
      <label for="name">{{LanguagesService.translate('name')}}:</label>
      <input type="text" id="name" name="name" #name class="bar-input" maxlength="100" required [(ngModel)]="data.name"> *
    </div>
    <div class="form-group">
      <label for="email">{{LanguagesService.translate('email')}}:</label>
      <input type="text" id="email" name="email" #email class="bar-input" maxlength="100" required  [(ngModel)]="data.email"> *
    </div>
    <div class="form-group">
      <label for="subject">{{LanguagesService.translate('subject')}}:</label>
      <input type="text" id="subject" name="subject" #subject class="bar-input" maxlength="100" required  [(ngModel)]="data._subject"> *
    </div>
    <div class="form-group">
      <label for="message">{{LanguagesService.translate('message')}}:</label>
      <textarea id="message" name="message" #message class="bar-textarea" maxlength="99999" required  [(ngModel)]="data.message"></textarea> *
    </div>
    <div class="form-group text-right">
      <p>
        <small>* - {{LanguagesService.translate('required')}}</small>
      </p>
      <span class="hidden-xs-up">
        <input type="text" name="_gotcha"  [(ngModel)]="data._gotcha" />
      </span>
      <button id="search-button"
      [disabled]="!name || !email || !subject || !message"
      md-raised-button
      (click)="sendMessage(contactForm)">{{LanguagesService.translate('submit_message')}}</button>
    </div>
  </form>

</div>
