<div class="suggest basic-page">

  <div class="row">
    <div class="col-12">
      <ul class="breadcrumbs nopadding">
        <li><a routerLink="/">{{LanguagesService.translate('home_page')}}</a></li>
        <li>/</li>
        <li>{{LanguagesService.translate('suggest_a')}}</li>
      </ul>
    </div>
  </div>

  <div class="col-12" *ngIf="alertMessage && alertMessage.length > 0">
    &nbsp;<br>
    <div class="alert alert-danger" role="alert">
      {{ alertMessage }}
    </div>
  </div>

  <div class="col-12" *ngIf="successMessage && successMessage.length > 0">
    &nbsp;<br>
    <div class="alert alert-success" role="alert">
      {{ successMessage }}
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <br>
      <h3>{{LanguagesService.translate('suggest_a')}}</h3>
      <hr class="base-hr">
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6">
      <label for="myDataField1">{{LanguagesService.translate('please_select_lang')}} 1:</label>
      <input id="myDataField1"
        name="myDataField1"
        #myDataField1
        class="bar-input"
        auto-complete
        auto-complete-placeholder="Language 1..."
        min-chars="0"
        [list-formatter]="myListFormatter"
        select-value-of="language_name"
        [(ngModel)]="data.lang1"
        [source]="mySource"
        (valueChanged)="storeTmpData()"
        (focus)="clearPreExisting()"
        tab-to-select="true"
        accept-user-input="false">
      <hr class="base-hr">
      <br class="hidden-sm-up">
    </div>

    <div class="col-12 col-sm-6">
      <label for="myDataField2">{{LanguagesService.translate('please_select_lang')}} 2:</label>
      <input id="myDataField2"
        name="myDataField2"
        class="bar-input"
        auto-complete
        auto-complete-placeholder="Language 2..."
        min-chars="0"
        [list-formatter]="myListFormatter"
        select-value-of="language_name"
        [(ngModel)]="data.lang2"
        [source]="mySource"
        (valueChanged)="storeTmpData()"
        (focus)="clearPreExisting()"
        tab-to-select="true"
        accept-user-input="false">
      <hr class="base-hr">
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6">
      <label for="word1">{{LanguagesService.translate('word_in')}} {{data.lang1}}:</label>
      <input type="text"
        name="word1"
        class="bar-input"
        [disabled]="!data.lang1 || data.lang1.length < 1"
        (keypress)="capitalize('word1')"
        (keyup)="storeTmpData()"
        (focus)="clearPreExisting()"
        [(ngModel)]="data.word1">
      <hr class="base-hr">
      <br class="hidden-sm-up">
    </div>

    <div class="col-12 col-sm-6">
      <label for="word2">{{LanguagesService.translate('word_in')}} {{data.lang2}}:</label>
      <input type="text"
        name="word2"
        class="bar-input"
        [disabled]="!data.lang2 || data.lang2.length < 1"
        (keypress)="capitalize('word2')"
        (keyup)="storeTmpData()"
        (focus)="clearPreExisting()"
        [(ngModel)]="data.word2">
      <hr class="base-hr">
    </div>
  </div>

  <div class="row" *ngIf="data.lang1 && data.word1 && data.lang2 && data.word2 && preExistent && preExistent.length >= 1">
      <div class="col-12">
          <div class="alert alert-warning" role="alert">
            <h5>
              {{LanguagesService.translate('there')}}
              <span *ngIf="preExistent.length === 1">{{LanguagesService.translate('is_one_record')}} </span>
              <span *ngIf="preExistent.length > 1">{{LanguagesService.translate('are_some_records')}} </span>
              {{LanguagesService.translate('values_already')}}.
            </h5>
            <h6>{{LanguagesService.translate('suggest_a_new_one')}}</h6>
            <ul>
              <li *ngFor="let term of preExistent">
                <a [routerLink]="['/term-id/' + term.id]" target="_blank">
                  {{data.lang1}} - {{data.word1}} VS {{data.lang2}} - {{data.word2}}
                </a>
              </li>
            </ul>
          </div>
      </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-6">
      <label for="native1">{{LanguagesService.translate('using')}} {{data.lang2}},
        {{LanguagesService.translate('define_what')}} "{{data.word1}}"
        {{LanguagesService.translate('means_in')}} {{data.lang1}}:</label>
      <textarea name="native1"
      class="bar-textarea"
      maxlength="1000"
      (keyup)="storeTmpData()"
      (focus)="checkForPreExisting()"
      [disabled]="!data.word1"
      [(ngModel)]="data.native1"></textarea>
      <hr class="base-hr">
      <br class="hidden-sm-up">
    </div>

    <div class="col-12 col-lg-6">
      <label for="native2">{{LanguagesService.translate('using')}} {{data.lang1}},
        {{LanguagesService.translate('define_what')}} "{{data.word2}}"
        {{LanguagesService.translate('means_in')}} {{data.lang2}}:</label>
      <textarea name="native2"
      maxlength="1000"
      class="bar-textarea"
      (keyup)="storeTmpData()"
      (focus)="checkForPreExisting()"
      [disabled]="!data.word2"
      [(ngModel)]="data.native2"></textarea>
      <hr class="base-hr">
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-6" *ngIf="data.lang1.indexOf('English') === -1 && data.lang2.indexOf('English') === -1">
      <label for="meaning1">{{LanguagesService.translate('optional')}} - {{LanguagesService.translate('using')}} English,
        {{LanguagesService.translate('define_what')}} "{{data.word1}}"
        {{LanguagesService.translate('means_in')}} {{data.lang1}}:</label>
      <textarea name="meaning1"
      class="bar-textarea"
      maxlength="1000"
      (keyup)="storeTmpData()"
      (focus)="checkForPreExisting()"
      [disabled]="!data.word1"
      [(ngModel)]="data.meaning1"></textarea>
      <hr class="base-hr">
      <br class="hidden-sm-up">
    </div>

    <div class="col-12 col-lg-6" *ngIf="data.lang1.indexOf('English') === -1 && data.lang2.indexOf('English') === -1">
      <label for="meaning2">{{LanguagesService.translate('optional')}} - {{LanguagesService.translate('using')}} English,
        {{LanguagesService.translate('define_what')}} "{{data.word2}}"
        {{LanguagesService.translate('means_in')}} {{data.lang2}}:</label>
      <textarea name="meaning2"
      maxlength="1000"
      class="bar-textarea"
      (keyup)="storeTmpData()"
      (focus)="checkForPreExisting()"
      [disabled]="!data.word2"
      [(ngModel)]="data.meaning2"></textarea>
      <hr class="base-hr">
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-right">
      <md-checkbox [(ngModel)]="data.accepted">
        <span [innerHTML]="LanguagesService.translate('accept_services_agreement')"></span>
      </md-checkbox>
      <hr class="base-hr">
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-right">
      <br>
      <button id="search-button"
        md-raised-button
        (click)="submitFalseCognate()"
        [disabled]="!canSubmit || !data.word1 || !data.word2 || !data.native1 || !data.native2 || !data.accepted">{{LanguagesService.translate('submit_form')}}</button>
      <br>
      &nbsp;
      <br>
    </div>
  </div>

</div>
