<div class="suggest basic-page">

  <div class="row">
    <div class="col-12">
      <ul class="breadcrumbs nopadding">
        <li><a routerLink="/">Homepage</a></li>
        <li>/</li>
        <li>Suggest</li>
      </ul>
    </div>
  </div>

  <div class="col-12" *ngIf="alertMessage && alertMessage.length > 0">
    &nbsp;<br>
    <div class="alert alert-danger" role="alert">
      {{ alertMessage }}
    </div>
  </div>

  <div class="col-12" *ngIf="successMessage && successMessage.length > 0">
    &nbsp;<br>
    <div class="alert alert-success" role="alert">
      {{ successMessage }}
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <br>
      <h3>Suggest a False Cognate</h3>
      <hr class="base-hr">
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6">
      <label for="myDataField1">Please select language 1:</label>
      <input id="myDataField1"
        name="myDataField1"
        #myDataField1
        class="bar-input"
        auto-complete
        auto-complete-placeholder="Language 1..."
        min-chars="0"
        [list-formatter]="myListFormatter"
        select-value-of="language_name"
        [(ngModel)]="data.lang1"
        [source]="mySource"
        (valueChanged)="storeTmpData()"
        (focus)="clearPreExisting()"
        tab-to-select="true"
        accept-user-input="false">
      <hr class="base-hr">
      <br class="hidden-sm-up">
    </div>

    <div class="col-12 col-sm-6">
      <label for="myDataField2">Please select language 2:</label>
      <input id="myDataField2"
        name="myDataField2"
        class="bar-input"
        auto-complete
        auto-complete-placeholder="Language 2..."
        min-chars="0"
        [list-formatter]="myListFormatter"
        select-value-of="language_name"
        [(ngModel)]="data.lang2"
        [source]="mySource"
        (valueChanged)="storeTmpData()"
        (focus)="clearPreExisting()"
        tab-to-select="true"
        accept-user-input="false">
      <hr class="base-hr">
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6">
      <label for="word1">Word in {{data.lang1}}:</label>
      <input type="text"
        name="word1"
        class="bar-input"
        [disabled]="!data.lang1 || data.lang1.length < 1"
        (keypress)="capitalize('word1')"
        (keyup)="storeTmpData()"
        (focus)="clearPreExisting()"
        [(ngModel)]="data.word1">
      <hr class="base-hr">
      <br class="hidden-sm-up">
    </div>

    <div class="col-12 col-sm-6">
      <label for="word2">Word in {{data.lang2}}:</label>
      <input type="text"
        name="word2"
        class="bar-input"
        [disabled]="!data.lang2 || data.lang2.length < 1"
        (keypress)="capitalize('word2')"
        (keyup)="storeTmpData()"
        (focus)="clearPreExisting()"
        [(ngModel)]="data.word2">
      <hr class="base-hr">
    </div>
  </div>

  <div class="row" *ngIf="data.lang1 && data.word1 && data.lang2 && data.word2 && preExistent && preExistent.length >= 1">
      <div class="col-12">
          <div class="alert alert-warning" role="alert">
            <h5>
              There
              <span *ngIf="preExistent.length === 1">is one record </span>
              <span *ngIf="preExistent.length > 1">are some records </span>
              with those values already.
            </h5>
            <h6>You can either continue, in case you have a better definition, or you could try sending a different word.</h6>
            <ul>
              <li *ngFor="let term of preExistent">
                <a [routerLink]="['/term-id/' + term.id]" target="_blank">
                  {{data.lang1}} - {{data.word1}} VS {{data.lang2}} - {{data.word2}}
                </a>
              </li>
            </ul>
          </div>
      </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-6">
      <label for="native1">Using {{data.lang2}}, define what "{{data.word1}}" means in {{data.lang1}}:</label>
      <textarea name="native1"
      class="bar-textarea"
      maxlength="1000"
      (keyup)="storeTmpData()"
      (focus)="checkForPreExisting()"
      [disabled]="!data.word1"
      [(ngModel)]="data.native1"></textarea>
      <hr class="base-hr">
      <br class="hidden-sm-up">
    </div>

    <div class="col-12 col-lg-6">
      <label for="native2">Using {{data.lang1}}, define what "{{data.word2}}" means in {{data.lang2}}:</label>
      <textarea name="native2"
      maxlength="1000"
      class="bar-textarea"
      (keyup)="storeTmpData()"
      (focus)="checkForPreExisting()"
      [disabled]="!data.word2"
      [(ngModel)]="data.native2"></textarea>
      <hr class="base-hr">
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-6" *ngIf="data.lang1.indexOf('English') === -1 && data.lang2.indexOf('English') === -1">
      <label for="meaning1">Optional - Using English, define what "{{data.word1}}" means in {{data.lang1}}:</label>
      <textarea name="meaning1"
      class="bar-textarea"
      maxlength="1000"
      (keyup)="storeTmpData()"
      (focus)="checkForPreExisting()"
      [disabled]="!data.word1"
      [(ngModel)]="data.meaning1"></textarea>
      <hr class="base-hr">
      <br class="hidden-sm-up">
    </div>

    <div class="col-12 col-lg-6" *ngIf="data.lang1.indexOf('English') === -1 && data.lang2.indexOf('English') === -1">
      <label for="meaning2">Optional - Using English, define what "{{data.word2}}" means in {{data.lang2}}:</label>
      <textarea name="meaning2"
      maxlength="1000"
      class="bar-textarea"
      (keyup)="storeTmpData()"
      (focus)="checkForPreExisting()"
      [disabled]="!data.word2"
      [(ngModel)]="data.meaning2"></textarea>
      <hr class="base-hr">
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-right">
      <md-checkbox [(ngModel)]="data.accepted">
        <div class="base-line-height">
          I read and accepted the <span class="bold">FalseCognates.com</span>
        </div>
        <a id="termsAgreement" routerLink="/agreement" target="_blank"> Terms and Agreements.</a>
      </md-checkbox>
      <hr class="base-hr">
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-right">
      <br>
      <button id="search-button"
        md-raised-button
        (click)="submitFalseCognate()"
        [disabled]="!canSubmit || !data.word1 || !data.word2 || !data.native1 || !data.native2 || !data.accepted">Submit Form</button>
      <br>
      &nbsp;
      <br>
    </div>
  </div>

</div>
