.new-password {
  padding: 0 35px;
  font-weight: 400;
}

.new-password h3 {
  width: 100%;
  margin: 20px 0;
}

.new-password label {
  width: 100%;
}

.new-password .form-group {
  display: block;
  max-width: 400px;
}

.new-password .security {
  position: absolute;
  top: -99999px;
}


