<div class="new-password basic-page">

  <div class="row">

    <div class="col-xs-12">
      <ul class="breadcrumbs nopadding">
        <li><a routerLink="/">Homepage</a></li>
        <li>/</li>
        <li>New Password</li>
      </ul>
    </div>

    <div class="col-xs-12" *ngIf="MessagesService.message.length > 0">
      &nbsp;<br>
      <div class="alert" [ngClass]="MessagesService.type" role="alert">
        {{ MessagesService.message }}
      </div>
    </div>

    <form class="col-xs-12 col-lg-6">

      <h3>New Password</h3>

      <input #newPassSecurity type="text" name="newPass-security" class="security" [(ngModel)]="newPassData.security">

      <div class="form-group">
        <label for="newPass-password">Password:</label>
        <input #newPassPassword type="password" name="newPass-password" class="bar-input" [(ngModel)]="newPassData.password">
      </div>

      <div class="form-group">
        <label for="newPass-confirmPassword">Confirm Password:</label>
        <input #newPassPassword type="password" name="newPass-confirmPassword" class="bar-input" [(ngModel)]="newPassData.confirmPassword">
      </div>

      <div class="form-group">
        <button md-raised-button (click)="sendNewPass()">Register New Password</button>
      </div>

    </form>

  </div>

</div>
