<div class="row" *ngIf="mySource && mySource.length">

  <div class="col-12">
      <h3>{{ LanguagesService.translate('search_by_langs') }}</h3>
      <br>
  </div>

  <div class="col-12 col-sm-6">
    <label for="myDataField1">{{ LanguagesService.translate('please_select_lang') }} 1:</label>
    <input  id="myDataField1"
      name="myDataField1"
      #myDataField1
      class="bar-input"
      auto-complete
      auto-complete-placeholder="Language 1..."
      min-chars="0"
      [list-formatter]="myListFormatter"
      select-value-of="language_name"
      [(ngModel)]="searchParams.data.lang1"
      [source]="mySource"
      (valueChanged)="goToLang2()"
      accept-user-input="false"
      tab-to-select="true">

      <br class="hidden-sm-up">
  </div>

  <div class="col-12 col-sm-6">
    <label for="myDataField2">{{ LanguagesService.translate('please_select_lang') }} 2:</label>
      <input id="myDataField2"
        name="myDataField2"
        class="bar-input"
        auto-complete
        auto-complete-placeholder="Language 2..."
        min-chars="0"
        [list-formatter]="myListFormatter"
        select-value-of="language_name"
        [(ngModel)]="searchParams.data.lang2"
        (keyup.enter)="searchByLanguages()"
        (valueChanged)="goToButton()"
        [source]="mySource"
        accept-user-input="false"
        tab-to-select="true">
  </div>

  <div class="col-12 text-right">
    <br>
    <button id="search-button-lang"
      md-raised-button
      (click)="searchByLanguages()"
      [disabled]="!searchParams.data.lang1 || !searchParams.data.lang2">
        {{ LanguagesService.translate('search') }}
        <span *ngIf="searchParams.data.lang1" >
          {{ LanguagesService.translate('by') }}
          {{searchParams.data.lang1}} &amp; {{searchParams.data.lang2}}
        </span>
      </button>
  </div>

  <div class="col-12">
    <hr class="base-hr">
    <h3>{{ LanguagesService.translate('search_by_term') }}</h3>
    <br>
    <label for="term">{{ LanguagesService.translate('please_type') }}:</label>
    <input type="text"
      name="term"
      class="bar-input"
      maxlength="100"
      (keyup.enter)="searchByTerm()"
      [(ngModel)]="searchParams.term">
  </div>

  <div class="col-12 text-right">
      <br>
      <button id="search-button"
        md-raised-button
        (click)="searchByTerm()"
        [disabled]="!searchParams.term">{{ LanguagesService.translate('search_by_term') }}</button>
  </div>

</div>
