md-card {
  margin-bottom: 20px;
}

md-card-title {
  font-weight: bold;
  font-size: 1.2rem !important;
  margin-bottom: 15px !important;
  span {
    display: block;
    width: 100%;
    font-weight: 100;
    font-size: 14px !important;
    cursor: pointer;
    color: #999;
  }
  span:hover {
    color: #0275d8;
  }
}

.card-block {
  display: block;
  width: 100%;
}

.card-block md-card-title {
  width: 100%;
  display: inline-block;
  margin: 0;
}

.card-block md-card-content {
  margin: 0;
}

.card-block.card-left {
  text-align: left;
}

.card-block.card-right {
  border-top: 1px solid #ccc;
}

md-card-actions {
  text-align: center;
  border-top: 1px solid #eee;
}

[md-button] {
    margin: 0 12px !important;
}

.selected {
  background-color: #d2e1e6;
}

@media (min-width: 768px) {
  .card-block {
    display: inline-block;
    width: 49.5%;
  }
  .card-block.card-right {
    border-top: none;
  }
  .card-block.card-left {
    text-align: right;
  }
}
